[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyodbc = "*"
faker = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
pylint = "*"

[requires]
python_version = "3.11"

[scripts]
init = "pre-commit install"
isort = "isort ./ --line-length 79"
black = "black ./ --line-length 79 -S"
lint = "pylint ./src"
insert-company-data = "python3 -m scripts.dummy_data_companies"
insert-department-data = "python -m scripts.dummy_data_departments"
insert-employee-data = "python3 -m scripts.dummy_data_employees"
insert-company-department-data = "python3 -m scripts.dummy_data_company_departments"
